<div class="row">
    <div class="col-sm-8">
        <h2><%= @page.title %></h2>
        <%= @page.content.html_safe %>
    </div>
    <div class="col-sm-4">
        <h2>Kontakto</h2>
        <address>
            <abbr title="Email">E:</abbr> <a href="mailto:manuel@lasindias.coop">manuel@lasindias.coop</a>
        </address>
    </div>
</div>
