<div class="row text-center">
  <div id="filter-panel" class="collapse filter-panel text-left">
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="form-group">
                  <label class="filter-col" style="margin-right:0;" for="pref-search"><span data-toggle="tooltip" data-placement="top" title="E kódigo aki bou su ophetivo ta pa eliminá for di nos resultadonan kualke teksto na otro idioma. E kódigo aki a wòrdu traha a base di e instrukshonnan di Google pa traha un búskeda avansá. E kódigo aki ta indiká pa saka for di nos resultadonan kualke informashon, teksto òf kontenido kaminda tin algun di e palabra 'la', 'las' òf 'los'. Esakinan ta hopi karakterístiko di e tekstonan na otro idioma. " class="glyphicon glyphicon-info-sign"></span> Eliminá resultado na otro idioma:</label>
                  <input value="<%= @elimina_otro_idioma %>" name="elimina_otro_idioma" type="text" class="form-control input-sm" id="pref-search">
              </div><!-- form group [search] -->
              <% if !@search_data.nil? %>
                <%= @search_data[:query_with_variants] %>
              <% end %>
          </div>
      </div>
  </div>
  <a data-toggle="collapse" href="#filter-panel">
      Búskeda avansá <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
</div>
