<% if !@search_data.nil? %>
  <div class="col-md-4">
        <p>Lista di variante ortográfiko usá den bo búskeda</p>
        <div class="panel panel-primary">
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Variante</th>
              </tr>
            </thead>
              <tbody>
                <% @search_data[:words_with_variants].each do |word| %>
                  <% word.each do |variant| %>
                    <tr>
                      <td></td>
                      <td><%= variant %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <p></p>
    </div>
<% end %>
