<% if !@search_data.nil? %>
  <div class="col-md-4">
        <p>Lista di variante ortográfiko usá den bo búskeda</p>
        <div class="panel panel-primary">
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr>
                <th>Variante pa palabra</th>
              </tr>
            </thead>
              <tbody>
                <% @search_data[:words_with_variants].each do |word| %>
                  <tr>
                    <td><%= word.join('; ') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <p>E lista aki ta posibel danki na <a href="https://palabra.papiamentu.info">Banko di Palabra</a></p>
    </div>
<% end %>
